/Legajo/
/Inscripción_fuera_de_Término/
/2-Segundo_Semestre/2-Dibujo_Técnico/
/1-Primer_Semestre/4-Introducción_a_la_Ingeniería/
/1-Primer_Semestre/5-Producción_oral_y_escrita/
2-Segundo_Semestre/1-Química General e Inorgánica/0-LIBROS/quimica-general-petrucci1.pdf
2-Segundo_Semestre/3-Física/0-0-LIBROS/FisicaVolIMecanicaAlonsoFinn.pdf
2-Segundo_Semestre/3-Física/0-0-LIBROS/Resnick apuntado.pdf
2-Segundo_Semestre/3-Física/0-0-LIBROS/Resnick/Resnick Haliday Krane - 5ª Edicion - Volumen 1.pdf
